.contact-con { //전체
  display: flex;
  flex-direction: row;
  width: 100vw;

  .record-con { //clip을 뺀 부분
    display: flex;
    flex-direction: row;
    width: 100%;
    .record-list-panel { //연락이력리스트 패널
      padding: 2rem 3vw 2rem 3vw;
      flex: 4 1 0;
      margin: 3rem 4vw 3rem 4vw;
        .list-tab { //탭의 메뉴 row
          padding: 0;
          .tab-head { //탭의 메뉴 1개
            background-color: #FFFFFF60;
            color: white;
            border-radius: 0.5rem 0.5rem 0px 0px / 0.5rem 0.5rem 0px 0px;
            &.selected {
              background-color: #F5F5F5;
              color: black !important;
            }
          }
        }
      .list-con { //List
        min-height: 38rem;
        max-height: 38rem;
        overflow: auto;
        border-radius: 0px 0.2rem 0.2rem 0.2rem / 0px 0.2rem 0.2rem 0.2rem;
        border: 1px solid #EA99D5;
        padding: 0px;
        background-color: #F5F5F5;
        .content-con { //ListItem + Divider
          display: flex;
          flex-direction: column;
          .content-wrap { //ListItem
            display: flex;
            flex-direction: column;
            text-align: left;
            &.selected {
              background-color: #CCD6F6 !important;
            }
            .content-row { //ListItem 속 데이터 1줄
              display: flex;
              flex-direction: row;
              background-color: #CCD6F600;
              margin: 0;
              text-align: left;
              padding: 0.05rem 1vw 0.05rem 1vw;
              width: 100%;
              min-width: 21rem;
              &.one {
                color: black;     
              }
              &.two {
                color: gray;
              }
            }
          }
        }
      } 
    }

    .detail-panel { //연락내용 패널
      display: flex;
      flex-direction: column;
      padding: 2rem 3vw 2rem 3vw;
      background-color: #0A182D60;
      border-radius: 0.2rem;
      flex: 4 1 0;
      margin: 2rem 4vw 2rem 4vw;
      .panel-title { //상세내역
        color: #65FFDC;
        font-size: 18px;
        border: none !important;
      }
      .sender-row { //발신정보/ 발신시각 틀
        display: flex;
        flex-direction: row;
        margin: 0.5rem 0px 0.5rem 0px;
        width: 100%;
        min-width: 21rem;
        .row-label { //발신정보/발신시각 라벨
          color: #CCD6F6;
          padding: 0.8rem 2vw 0.8rem 0vw;
          flex: 1 1 0;
          min-width: 6rem;
          font-size: 15px;
        }
        .row-input {
          background-color: #F5F5F5;
          border: none;
          border-radius: 0.2rem;
          padding: 0.8rem 2vw 0.8rem 2vw;
          flex: 4 1 0;
          color: #818181;
        }
      }
      .content-row { //수신자목록/ 발신내용 틀
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0.5rem 0px 0.5rem 0px;
        width: 100%;
        min-width: 21rem;
        .row-label-con { //수신자목록/발신내용+바이트수 라벨
          display: flex;
          flex-direction: row;
          margin: 0px 0px 0.8rem 0px;
          color: #CCD6F6;
          font-size: 15px;
          span {
            flex: 1 1 0;
          }
        }
        .row-input { //메일제목, 발신내용
          border: none;
          border-radius: 0.2rem;
          background-color: #F5F5F5;
          padding: 0.8rem 2vw 0.8rem 2vw;
          &.wide { //발신내용
            height: 10rem;
          }
        }
        .small-list-con { //수신인 목록 con
          min-height: 5rem;
          max-height: 5rem;
          overflow: auto;
          background-color: #F5F5F5;
          border-radius: 0.2rem;
          .content-con {
            display: flex;
            flex-direction: column;
            .content {
              padding: 0px 2vw 0px 2vw;
              color: #818181;
            }
          }
        }
      }
      .send-btn {
        margin: 1rem 0px 1rem 0px;
        padding: 0.7rem 0px 0.7rem 0px;
        background-color: #65FFDC19;
        border: 1px solid #65FFDC;
        border-radius: 0.2rem;
        color: #65FFDC;
        font-size: 23px;
        width: 100%;
      }
    }
  }


  
}
