.draw-con {
  width: 100%;
  height: fit-content;
  background-color: #ffffff50;
  display: flex;
  flex-flow: column nowrap;
  margin: 2% 0 8% 0;
  padding: 2%;
  transition: all 0.3s ease;

  .draw-line {
    display: flex;
    flex-flow: row wrap;
    // justify-content: space-between;
    align-items: center;
  }
  .draw-label {
    color: #65ffdc;
    font-size: 1rem;
    margin-right: 1rem;
  }
  .draw-result-label {
    color: #0a182d;
  }
  .draw-lots-con {
    background-color: #dbe3fc;
    border-radius: 0.2rem;
    min-height: 2rem;
    padding: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-flow: row wrap;
    max-height: 10vh;
    overflow: auto;
  }
}
