.email-con { //clip을 뺀 부분
  display: flex;
  flex-direction: row;
  width: 100%;

  .detail-panel { //연락내용 패널
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5vw 1rem 1.5vw;
    background-color: #0A182D60;
    border-radius: 0.2rem;
    flex: 1 1 0;
    margin: 3rem 1.5vw 3rem 0.5vw;
    .content-row { //발신내용 row
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 1rem 0px 1rem 0px;
      width: 100%;
      min-width: 21rem;
      .content-label {
        display: flex;
        flex-direction: row;
        margin: 0px 0px 0.8rem 0px;
        color: #65FFDC;
        font-size: 18px;
      }
      input {
        border: none;
        border-radius: 0.2rem;
        background-color: #F5F5F5;
        padding: 0.7rem 2vw 0.7rem 2vw;
      }
      textarea {
        border: none;
        border-radius: 0.2rem;
        background-color: #F5F5F5;
        height: 42.5vh;
        padding: 1.5rem 2vw 1.5rem 2vw;
      }
    }
    .send-btn {
      margin: 1rem 0px 1rem 0px;
      padding: 0.7rem 0px 0.7rem 0px;
      background-color: #65FFDC19;
      border: 1px solid #65FFDC;
      border-radius: 0.2rem;
      color: #65FFDC;
      font-size: 25px;
      width: 100%;
      &:hover {
        background-color: #65FFDC39;
      }
    }
  }

}
