.loginContainer {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login {
  max-width: 350px;
  width: 100%;
  text-align: center;
  border: 1px solid #65ffdc;
  padding: 5vw;
  background-color: #172a46;
  color: white;
}

.login h1 {
  color: #65ffdc;
}

.loginInputField {
  border: solid white;
  border-width: 0px 0px 1px 0px;
  background-color: #172a46;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
}
.loginInputField :focus {
  border-color: rgb(38, 38, 38);
}

.loginSubmit {
  background-color: #65ffdc;
  border-radius: 10px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
  color: #172a46;
  font-size: 15px;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.loginSubmit-disabled {
  background-color: #65ffdc;
  border-radius: 10px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
  color: #172a46;
  font-size: 15px;
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  opacity: 0.2;
}

.bottomBox {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
}

.loginOther {
  width: 100%;
  margin-top: 5px;
  font-weight: 500;
  border: 1px solid #65ffdc;
  box-sizing: border-box;
  border-radius: 7px;
  color: #65ffdc;
  font-size: 12px;
}
.loginOther a {
  color: white;
  padding: 0px 50px;
}
.loginOther :hover {
  color: tomato;
}

.loginForm {
  flex-direction: column;
  display: flex;
}

.formError {
  color: tomato;
  font-weight: 600;
  font-size: 12px;
  margin: 5px 0px 10px 0px;
}
