.loginContainer {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login {
  min-width: 30rem;
  text-align: center;
  border: 1px solid #65ffdc;
  padding: 5vw;
  background-color: #172a4650;
  border-radius: 0.1rem;
  color: white;
}

.login h1 {
  color: #65ffdc;
}

.loginInputField {
  border: none;
  border-bottom: 1px solid #ffffff90;
  background-color: #172a46;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  margin-top: 0.5rem;
}
.loginInputField :focus {
  border-color: rgb(38, 38, 38);
}

.loginSubmit {
  background-color: #65ffdc50;
  border-radius: 0.1rem;
  font-weight: 600;
  text-align: center;
  color: #65ffdc;
  font-size: 1rem;
  width: 100%;
  height: 2.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.loginSubmit:hover {
  background-color: #65ffdcff;
  color: #172a46;
}

.disabled {
  opacity: 0.2;
}

.bottomBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginOther {
  width: 100%;
  height: 2rem;
  text-align: center;
  margin-top: 0.2rem;
  font-weight: 500;
  box-sizing: border-box;
  border-radius: 0.1rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
}
.loginOther a {
  color: #ccd6f6;
}
.loginOther :hover {
  color: tomato;
}

.loginForm {
  flex-direction: column;
  display: flex;
}

.formError {
  color: tomato;
  font-weight: 600;
  font-size: 1rem;
  margin: 5px 0px 10px 0px;
}
