.main-con {
  display: flex;
  flex-direction: column;
  width: 100%;
  .main-banner-con {
    display: flex;
    flex-direction: row;
    padding: 40px 5vw 10px 5vw;
    width: 100%;
    .arrow-btn {
      flex: 1 1 0;
      background-color: #f5f5f500;
      color: #f5f5f5;
      border: none;
      font-size: 60px;
      padding: 20px;
    }
    .banner {
      flex: 5 1 0;
      min-width: 500px;
      min-height: auto;
    }
  }
  .search-con {
    text-align: center;
    margin: 40px 5vw 10px 5vw;
    .search-item {
      width: 600px;
      background-color: #f5f5f5;
      border-radius: 10px;
    }
  }
  .content-con {
    margin: 20px 5vw 0px 5vw;
    label {
      color: #65ffdc;
      margin-left: 4vw;
      font-size: 30px;
    }
  }
}
