/* reference: https://intrepidgeeks.com/tutorial/implement-htmlcssdropdown-list-animation */

.dropDown {
  display: inline-block;
  width: 100vw;
  position: sticky;
  top: 0px;

  z-index: 1000;
  /* width: 200px 처럼 사용자가 직접 너비를 지정할 수도 있다. */
}

.dropDown:hover .subMenu {
  display: block;
}

/*
.dropDown:hover {} 까지만 하면
.dropDown 자체의 디자인을 변경하게 된다.
.dropDown:hover 뒤에 무엇이든 이어지면 명령을 수행하는 역할이 된다.
즉, 자식요소를 어떻게 할지 변경하는 정의하는 의미라고 생각하면 된다.
*/

.dropDown-btn {
  /* 부모의 길이를 상속 받음, 유동적 길이 변경 가능 */
  width: inherit;
  padding: 0.3rem;
  background: #0a182d;
  border: none; /* 기본 음영효과 제거 */
  outline: none; /* 버튼 클릭 시 음영효과 제거 */
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 5px 10px 10px #00000050;
}

.icon {
  min-width: 17rem;
  max-width: 17rem;
  font-family: BMJUA;
  font-size: 16pt;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.icon a {
  color: #65ffdc;
  font-weight: 600;
}

.menu-titles {
  display: flex;
  flex-direction: row;
  min-width: 30rem;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
  font-weight: 600;
}

.menu-title {
  display: flex;
  justify-content: center;
  width: 10rem;
  color: #ccd6f6;
}

.menu-title:hover {
  display: flex;
  justify-content: center;
  width: 10rem;
}

.login-menus {
  display: flex;
  min-width: 20rem;
  max-width: 20rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.nickname {
  margin-right: 10px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.1rem;
  transition: all 0.2s ease;
  color: #ccd6f6;
}

.nickname:hover {
  background-color: #ffffff56;
}

.login-menus-button {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 0.1rem;
  border: 1px solid #65ffdc;
  color: #65ffdc;
  transition: all 0.2s ease;
}

.login-menus-button:hover {
  background-color: #65ffdc50;
  color: #ccd6f6;
}

.mypage {
  margin-right: 10px;
}

.subMenu {
  display: none; /* 처음에 안보이게 */
  width: 100%;
  background-color: #0a182d;
  box-shadow: 0 0 10px rgb(0 0 0 / 17%);
  box-shadow: inset 0px 0px 20px 4px #00000050;
  position: absolute;
  animation: draw-down 0.4s both;
  overflow: hidden;
  z-index: 1000;
}

.container-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  max-width: 100vw;
}

.icon-sub {
  min-width: 17rem;
  font-family: "Cafe24Oneprettynight";
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ccd6f6;
  font-size: 18pt;
}

.icon-sub:hover {
  animation: jello-horizontal 1.8s infinite both;
}

.menu-lists {
  min-width: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-list {
  display: flex;
  justify-content: center;
  width: 10rem;
  flex-direction: column;
}

.menu-list-item {
  /* display: block; a 태그는 가로배치 이므로 세로배치로 변경 */
  width: 10rem;
  text-align: center;
  color: #ccd6f6;
  font-size: 12pt;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  border-radius: 0.1rem;
  transition: all 0.2s ease;
}

.menu-list-item:hover {
  background-color: #ffffff56;
  color: #65ffdc;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.empty-box {
  min-width: 20rem;
  max-width: 20rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-5-20 17:5:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@keyframes bounce-top {
  0% {
    transform: translateY(-30px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-15px);
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  15% {
    transform: scale3d(1.05, 0.95, 1);
  }
  20% {
    transform: scale3d(0.95, 1.05, 1);
  }
  25% {
    transform: scale3d(1.025, 0.975, 1);
  }
  32% {
    transform: scale3d(0.99, 1.01, 1);
  }
  38% {
    transform: scale3d(1.01, 0.99, 1);
  }
  50% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes draw-down {
  from {
    animation-timing-function: ease-in;
    transform-origin: 0% 0%;
  }
  0% {
    transform: scaleY(0);
    transform-origin: 0% 0%;
    /* transition: all 1s linear; */
  }

  100% {
    transform: scaleY(1);
    transform-origin: 0% 0%;
  }
}
