.myinfo-con {
  display: flex;
  flex-direction: row;
  width: 100vw;
  .myinfo-box {
    flex: 1 1 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 2vw 2rem 2vw;
    justify-content: center;
    background-color: #0A182D60;
    border-radius: 10px;
    margin: 13rem 2vw 13rem 2vw;
    min-width: 20rem;
    .box-icon {
      flex: 4 1 0;
      width: 12rem;
      height: 10rem;
      padding-bottom: 3rem;
  
    }
    .box-text {
      text-align: center;
      flex: 1 1 0;
      color: #CCD6F6;
      font-size: 24px;
      justify-content: center;
      font-weight: 550;
    }
  }
}