.myinfo-con {
  display: flex;
  flex-direction: row;
  width: 100vw;
  .myinfo-box {
    flex: 1 1 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2rem 3vw 2rem 3vw;
    background-color: #172A46;
    border-radius: 10px;
    margin: 15rem 4vw 15rem 4vw;
    .box-icon {
      flex: 3 1 0;
  
    }
    .box-text {
      flex: 1 1 0;
      color: #CCD6F6;
    }
  }
}