.my-survey-banner {
  width: 96%;
  margin: 2%;
  padding: 7%;
  height: 20vh;
  background-color: #98b8b920;
  /* background-image: url("../resources/usage_banner.png");
  background-size: 100% 100%; */
  color: wheat;
}

.new-survey-con {
  display: flex;
  justify-content: center;
  width: 100%;
}

.new-survey-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.1rem;
  background-color: #65ffdc50;
  color: #ccd6f6;
  font-size: 1.3rem;
  transition: all 0.2s;
  border: 1px solid #00000000;
  cursor: pointer;
}
.new-survey-btn:hover {
  border: 1px solid #65ffdc;
  background-color: #65ffdca0;
  color: #172a46;
}
.new-survey-label {
  margin-left: 1rem;
  z-index: 101;
  cursor: pointer;
}

.survey-tray-container {
  border-radius: 0.1rem;
  /* background-color: #ffffff20; */
  width: 96%;
  margin: 2%;
  height: fit-content;
  /* padding: 2%; */
}

.mysurvey-label {
  color: #ccd6f6;
  width: fit-content;
  background-color: #ffffff20;
  border-radius: 0.2rem 0.2rem 0 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  cursor: default;
}
.survey-folder {
  width: 100%;
  /* padding-top: 1rem; */
  min-height: 3rem;
  height: fit-content;
  background-color: #ffffff20;
  border-radius: 0.5rem;
}
