.notice-con {
  display: flex;
  flex-direction: row;
  width: 100vw;
  .notice-panel {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 2rem 3vw 2rem 3vw;
    background-color: #172A46;
    border-radius: 10px;
    margin: 4rem 3vw 4rem 3vw;
    width: 100%;
    min-width: 40rem;
    height: 45rem;
    .panel-row {
      display: flex;
      flex-direction: row;
      .panel-title {
        color: #65FFDC;
        font-size: 24px;
      }
    }
    .table-con {
      display: flex;
      flex-direction: column;
      flex: 8 1 0;
      .table-head {
        display: flex;
        flex-direction: row;
        color: #F5F5F5;
        font-size: 20px;
        border-bottom : 1px solid #F5F5F5;
        padding: 1rem 0rem 1rem 0rem;
        .summary-icon-none {
          color: #F5F5F500;
          margin: 0 1vw 0 1vw;
        }
        .table-head-no {
          flex: 1 1 0;
          padding-left: 2vw;
        }
        .table-head-title {
          flex: 4 1 0; 
        }
        .table-head-date {
          flex: 1 1 0; 
        }
      }
      .table-content {
        .table-content-item {
          background-color: #172A4600;
          box-shadow: none;
          .item-summary {
            display: flex;
            flex-direction: row-reverse;
            color: #F5F5F5;
            padding: 0;
            .summary-icon {
              color: #F5F5F5;
              margin: 0 1vw 0 1vw;
            }
            .summary-no {
              flex: 1 1 0;
              padding-left: 2vw;
            }
            .summary-title {
              flex: 4 1 0;
            }
            .summary-date {
              flex: 1 1 0;
            }
          }
          .item-detail {
            color: #CCD6F6;
            padding: 0 2vw 0 2vw;
          }
        }
      }
    }
    
    .pagination {
      width: 100%;
      flex: 1 1 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}