.register-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-direction: column;
    border: 1px solid #65FFDC;
    padding: 70px;
    background-color: #0a182db2;
    color: white;
}

.register-container h1 {
  color: #65FFDC;
}

label {
  font-size: 14px;
}

.input-row {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
  width: 250px;
}

.input-box {
  display: flex;
  flex-direction: row;
}

.message-box {
  font-size: 12px;
  margin-top: 7px;
}

.error-box {
  font-size: 12px;
  margin-top: 7px;
  color: red;
}

.input-field {
  border: solid white;
  border-width: 0px 0px 1px 0px;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
}

.input-field-check {
  margin-right: 1vw;
  border: solid white;
  border-width: 0px 0px 1px 0px;
  background-color: rgba(255, 255, 255, 0);
  flex: 3 1 0;
}

.check-btn {
  border: 1px solid #65FFDC;
  border-radius: 7px;
  padding: 1px 5px 1px 5px;
  background-color: rgba(255, 255, 255, 0);
  color: #65FFDC;
  font-size: 12px;
}

.submit-btn{
  margin: 10px 0px 10px 0px;
  padding: 8px 0px 8px 0px;
  background-color: #65FFDC;
  border-radius: 10px;
  color: #0a182d;
  font-size: 15px;
  border: none;
  width: 100%;
}