.result-form-grid-con {
  width: 100%;
}

.result-ques-con {
  width: 100%;
  padding: 0.5rem;

  .result-ques-content {
    width: 100%;
    color: black;
    font-size: 1rem;
    word-break: break-word;
  }
  .result-ques-ans {
    width: 100%;
    min-height: 2rem;
    color: black;
    background-color: gainsboro;
    border-radius: 0.2rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
