.result-q-con {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.result-q-white-panel {
  width: 90%;
  height: 95%;
  margin-top: 2%;
  margin-left: 4rem;
  padding: 5%;
  background-image: url("../resources/pen-write.jpeg");
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: #ffffff60;
  border-radius: 0.2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: auto;
}

.result-q-form-title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  text-align: center;
}

.result-q-form-desc {
  font-size: 1.1rem;
  color: #616161;
  text-align: center;
  margin-bottom: 5%;
}

.result-q-loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
