.result-stats {
  width: 100%;
  max-width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-self: center;

  .result-stats-inner {
    width: 90%;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
  }
}

.result-stats-result-con {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 1rem;
  background-color: aliceblue;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.result-stats-menu {
  width: 100%;
  justify-content: center;
}

.result-option-list {
  // height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .panel-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccd6f650;

    .title-label {
      padding-top: 20px;
      padding-left: 20px;
      color: #65ffdc;
    }
  }

  .choices {
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .choice {
      width: 100%;
      text-align: center;
      // margin: 0.1rem 0 0.1rem 0;
      padding: 0.2rem;
    }
    .choice:hover {
      background-color: #65ffdc50;
    }

    .selected {
      background-color: #ccd6f6;
    }
  }
}

.list-item-template {
  width: 100%;
  padding: 1%;
  border: 0;
  outline: 0;
  cursor: pointer;

  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.result-stats-ques-selection-con {
  width: 96%;
  min-height: 50%;
  max-height: 50%;
  border-radius: 0.2rem;
  background-color: #ffffff50;
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
}

.market-root {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  & > div {
    margin: 20px;
  }
}

.corr-root {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  & > div {
    margin: 20px;
  }
  .ant-transfer-list-body {
    background: white !important;
  }
}

.corr-plot-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.keyword-root {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  & > div {
    margin: 20px;
  }
}

.keyword-result {
  display: flex;
  flex-flow: row;
  align-items: center;

  .keyword-result-table {
    flex-grow: 4;
    flex-basis: 0;
  }

  .keyword-result-cloud {
    flex-grow: 5;
  }
}

.stats-tag {
  white-space: break-spaces !important;
  word-break: break-word !important;
}