.result-list-con {
  width: 100%;
  height: 95vh;
  max-height: 90vh;
}
.result-list-white-panel {
  width: 90%;
  height: 95%;
  /* margin: 4%; */
  margin-top: 2%;
  margin-left: 4rem;
  background-color: #ffffff50;
  border-radius: 0.2rem;
  display: flex;
  flex-flow: row nowrap;
}

.result-list-left-con {
  width: 35%;
  height: 100%;
  padding: 1rem 0.5rem 0.2rem 1rem;
  overflow: auto;
}

.result-list-con-title {
  color: #65ffdc;
  font-size: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: default;
}
.shuffle-btn {
  width: fit-content;
  padding: 0.2rem;
  color: #ccd6f6;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.2s;
  background-color: #ffffff00;
}
.shuffle-btn:hover {
  color: #65ffdc;
  background-color: #ffffff30;
}
.shuffle-btn:active {
  color: #65ffdc;
  background-color: #ffffff50;
}

.result-list-list {
  width: 100%;
  height: max-content;
}
.result-list-right-con {
  width: 65%;
  height: 100%;
  background-color: whitesmoke;
  overflow: auto;
  border-radius: 0 0.2rem 0.2rem 0;
}

.result-list-loading {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.star-con {
  font-size: 1.2rem;
  color: rgb(224, 233, 55);
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: color 0.2s;
}

.star-con:active {
  color: rgb(190, 198, 48);
}
