.section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 5%;
  background-color: antiquewhite;
}

.section-title {
  color: black;
  font-size: 1rem;
}
