.design-root {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.design-palette {
  width: 400px;
  max-height: 90vh;
  overflow: auto;
  background-color: #1d6170;
  border-radius: 0.2rem;
  margin: 10px 50px 0 0;
  padding: 10px 10px 10px 0;
  display: flex;
  flex-direction: column;
  top: 60px;
  position: sticky;
}

.design-inner-palette {
  width: 375px;
  background-color: rgb(245 245 245 / 10%);
  border-radius: 0.2rem;
  margin: 10px 10px 0 0;
  padding: 10px;
}

.design-title {
  margin-left: 10px;
  color: #65ffdc !important;
}

.design-subtitle {
  color: #ccd6f6 !important;
}

.design-ques-layout {
  display: flex;
  flex-wrap: wrap;
}

.design-ques-back {
  width: 45%;
  margin: 2.5%;
  border-radius: 0.2rem;
  background-color: white;
  transition: all 0.5s ease;
}

.design-ques-image {
  width: 100%;
}

.design-ques-back:hover {
  filter: brightness(70%);
}

.design-ques-image:hover {
  cursor: pointer;
}

.design-preview {
  width: calc(100% - 450px);
  background-color: #172a46;
  border-radius: 0.2rem;
  margin: 10px 0 0;
  padding: 10px;
  height: fit-content;
}

.design-section-title {
  width: 300px;
}

.design-preview-header {
  display: flex;
  flex-direction: row;
}

.design-preview-header > div {
  flex-grow: 1;
}

.design-button {
  background-color: #65ffdc;
  border-radius: 0.2rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding-left: 5%;
  padding-right: 5%;
  margin: 5px;
}

.design-preview-btngroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.design-preview-body {
  background-color: white;
  border-radius: 0.2rem;
  border: 0;
  outline: 0;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.design-section {
  display: flex;
  flex-direction: column;
}
