.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.select-template {
  flex: 1 1 0;
  margin: 4rem 1.5vw 4rem 0.5vw;
  padding: 1rem 1.5vw 1rem 1.5vw;
  height: fit-content;
  background-color: #ffffff25;
  border-radius: 0.2rem;
}
.example-templates {
  width: 100%;
  margin-bottom: 5%;
}

.title-label {
  color: #65ffdc;
}

.template-list {
  width: 100%;
  background-color: #ffffff50;
  max-height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.preview {
  flex: 1 1 0;
  padding: 1rem 1.5vw 1rem 1.5vw;
  margin: 4rem 1.5vw 4rem 0.5vw;
  background-color: #ffffff25;
  border-radius: 0.1rem;
}

.list-item-template {
  padding: 1%;
  border: 0;
  outline: 0;
  cursor: pointer;

  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.list-item-template:hover {
  background-color: #ffffff70;
}
.selected {
  background-color: #65ffdc50;
}

.panel-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccd6f650;
  min-width: 21rem;
}

.template-select-btn {
  background-color: #65ffdc;
  border-radius: 0.1rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  padding-left: 5%;
  padding-right: 5%;
}
.template-select-btn:hover {
  animation: heartbeat 1.5s ease-in-out infinite both;
}
