.survey-tray {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .survey-item {
    width: 25rem;
    height: 13rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 1rem;
    margin: 1.5vw;
    background-color: #172A46;
    color: #CCD6F6;
  
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 26px;
  }
}
