.survey-tray {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 3rem;

  .survey-icon-con {
    //width: fit-content;
    //@at-root: fit-content;
    .survey-item {
      width: 23vw;
      min-width: 13rem;
      height: 13rem;
      border-radius: 0.2rem;
      padding: 1rem;
      margin: 1rem;
      background-color: #F5F5F5FE;
      border: 1.2px solid #00000030;
      color: black;
      display: flex;
      flex-flow: column nowrap;
      transition: all 0.3s ease-in;

      .item-title {
        flex: 2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.3rem;
        font-weight: 500;
      }
      .item-des {
        flex: 3;
        height: min-content;
        overflow-y: hidden;
        text-overflow: ellipsis;
        font-size: 0.9rem;
        padding-top: 0.5rem;
      }
      .item-exp {
        flex: 1;
        font-size: 0.8rem;
        padding-top: 0.5rem;
        text-align: right;
      }
    }
    .survey-item:hover {
      border: 1px solid #65ffdc;
    }
    .hover-btns {
      display: none;
      position: absolute;
      width: 23vw;
      min-width: 13rem;
      height: 13rem;
      padding: 1rem;
      margin: 1rem;
      border-radius: 0.2rem;
      flex-flow: column nowrap;
      align-items: center;
      background-color: #00000050;
      backdrop-filter: blur(5px);
      color: #393737;
      transition: all 0.2s ease;
      cursor: default;

      .item-title {
        display: block;
        width: 100%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1.2rem;
        cursor: default;
      }
      .survey-del {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
      }
      .survey-del :hover {
        color: #65ffdc;
      }
      .survey-icon-btn {
        color: #65ffdc;
        min-width: 9rem;
        font-size: 1rem;
        padding: 0.2rem;
        margin: 0.2rem;
        border-radius: 0.1rem;
        border: 1px solid #65ffdc;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease;
      }
      .survey-icon-btn:hover {
        color: #ccd6f6;
        background-color: #65ffdc50;
      }
    }
    &:hover .hover-btns {
      display: flex;
    }
  }
}
