.color-box {
  width: 12rem;
  min-width: 3rem;
  height: 8rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 1rem;

  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: black;
  font-size: 1rem;
}

.green {
  background-color: #94b49f;
}
.yellow {
  background-color: #e2d784;
}
.deep-green {
  background-color: #05595b;
}

.color-box:hover {
  background-color: #e3595940;
  transition: 0.4s;
}

.tray {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
