.survey-tray {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .survey-item {
    width: 25rem;
    height: 13rem;
    justify-content: center;
    border-radius: 10px;
    padding: 1rem;
    margin: 1.5vw;
    background-color: #172A46;
    color: #CCD6F6;
    display: flex;
    flex-direction: column;

    .item-title {
      flex: 3 1 0;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 2rem;
    }
    .item-des {
      flex: 2 1 0;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 1rem;
      padding-top: 0.5rem;
    }
    .item-exp {
      flex: 1 1 0;
      font-size: 0.8rem;
      padding-top: 0.5rem;
      text-align: right;
    }
  }
}
